[submodule "platforms/esp-idf"]
	path = platforms/esp-idf
	url = https://github.com/halildilaver/kivvi-esp-idf-platform
[submodule "platforms/arduino-esp32"]
	path = platforms/arduino-esp32
	url = https://github.com/halildilaver/kivvi-arduino-platfrom
[submodule "platforms/arduino-avr"]
	path = platforms/arduino-avr
	url = https://github.com/halildilaver/kivvi-arduino-avr-platform
[submodule "boards/Develoop-IOT"]
	path = boards/Develoop-IOT
	url = https://github.com/halildilaver/Develoop-IOT